In [ ]:
import pandas as pd

# Create series
series = pd.Series([1, 3, 5, 7, 9])
series

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [8]:
dataFrame1 = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
dataFrame1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [9]:
# Customizing column and row labels
# column and index is labels for columns and rows respectively
dataFrame2 = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], columns=['A', 'B', 'C'], index=['X', 'Y', 'Z'])
dataFrame2

   A  B  C
X  1  2  3
Y  4  5  6
Z  7  8  9